@{
    ViewData["Title"] = "Početna strana";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-3" :>Dobrodošli</h1>
</div>

    <div class="text-md-left">
    <p>Na ovom mjestu ćete dobiti pregled računala koja su na posudbi od tvrtke, zaposlenicima.</p>
    <p>
        Ukoliko ste zainteresirani za zaštitu privatnosti podataka,
        molimo Vas referirajte se na našu <a asp-area="" asp-controller="Home" asp-action="Privacy">politiku privatnosti</a>
    </p>
    <p> Ukoliko ste ovdje greškom, pročitajte vijesti na <a href="https://www.Index.hr"> Index vijesti</a>.</p>
</div>
