@{
    ViewData["Title"] = "Pravila Privatnosti";
}
<h1>@ViewData["Title"]</h1>

<p><h2>Ovdje se nalaze naša pravila privatnosti.</h2></p> <p>Mi poštujemo Vašu privatnost. Promotrimo je pa je poštujemo.</p>
